# S6. App Structure

## Алгоритм

1. На входе данные за 1 час - показания по экологии и деперсонализированные события по авто
2. Каждый автомобиль получает или теряет баллы в зависимости от показаний экодатчиков в момент проезда
3. Математика начисления баллов (и выставления порогов) модернизируется с каждой итерацией
4. Авто, чьи баллы превысили порог, передаются на обработку экополиции, те возвращаются к нам с информацией о том, какая достигнута точность
5. Повторяем пока не получим нужную точность

## 1. Получение входных данных

1. Отсортировать данные по времени
2. Распределить по локациям
3. Сформировать временные фреймы
4. Упаковать по временным фреймам данные по авто и экологии

In [7]:
import pandas as pd
import math
from functools import reduce


eco_df = pd.read_csv("ecodata2.csv")
car_df = pd.read_csv("cardata2.csv")

eco_df.sort_values(by=['time'], inplace=True)
car_df.sort_values(by=['time'], inplace=True)

In [8]:
eco_df.head(10000000)

,id,city_id,location_id,camera_id,co,no2,so2,o3,pm25,pm10,temp,hum,time,ver,lat,lon,created
4999,18,2,741,4553,4.00,0.68,0,0.81,40,45,18.24,21.28,12/10/22 17:41,-1,43.237604,76.934758,12/10/22 11:41
4858,15,2,2,420,8.80,0.00,0,0.87,35,38,19.20,19.29,12/10/22 17:41,-1,43.238362,76.889989,12/10/22 11:41
4857,14,2,337,1724,12.80,5.23,0,0.00,63,68,19.28,21.45,12/10/22 17:41,-1,43.244170,76.915991,12/10/22 11:41
4856,12,2,780,4571,6.69,0.00,0,0.68,41,44,18.10,21.16,12/10/22 17:41,-1,43.199581,76.894464,12/10/22 11:41
4855,10,2,781,5779,7.69,5.46,0,0.00,78,85,18.93,21.44,12/10/22 17:41,-1,43.214086,76.898003,12/10/22 11:41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,18,2,741,4553,8.60,1.00,0,0.93,50,56,17.63,24.09,12/10/22 18:00,-1,43.237604,76.934758,12/10/22 11:59
3,15,2,2,420,9.89,0.00,0,0.85,68,80,18.66,19.98,12/10/22 18:00,-1,43.238362,76.889989,12/10/22 11:59
2,14,2,337,1724,10.39,4.86,0,1.03,56,61,18.54,22.46,12/10/22 18:00,-1,43.244170,76.915991,12/10/22 11:59
1,12,2,780,4571,6.09,0.00,0,0.56,49,53,17.77,21.82,12/10/22 18:00,-1,43.199581,76.894464,12/10/22 11:59
0,10,2,781,5779,10.69,5.55,0,0.76,64,72,18.64,24.06,12/10/22 18:00,-1,43.214086,76.898003,12/10/22 11:59

In [9]:
# def createTimeframe(time, camera_id):
#     eco_df_part = eco_df.loc[(pd.to_datetime(eco_df['time']) == time) & (eco_df['camera_id'] == camera_id)]
#     car_df_part = car_df.loc[(pd.to_datetime(eco_df['time']) == time) & (eco_df['camera_id'] == camera_id)]
    
#     return [eco_df_part, car_df_part]

# timeframes = dict()
# timeframe = dict()

# camera_ids = list(eco_df['camera_id'].unique())
# minutes = list(pd.to_datetime(eco_df['time'].unique()))

# for i in range(len(camera_ids)):
#     for j in range(len(minutes)):
#         timeframes[minutes[j]] = createTimeframe(minutes[j], camera_ids[i])
#         timeframe[camera_ids[i]] = timeframes
                
def createTimeframe(dataframes: list[dict], camera_id: str = None, time_from: str = None, time_to: str = None):
    df = pd.concat(dataframes)
    if camera_id is None:
        camera_ids = set(df['camera_id'])
        response = {}
        for camera_id in camera_ids:
            response[camera_id] = createTimeframe(
                dataframes = [dataframes[0], dataframes[1]],
                camera_id = camera_id,
                time_from = time_from,
                time_to = time_to
            )
        return response
    else:
        if time_from is None or time_to is None:
            for time in sorted(
                set(pd.to_datetime(df['time']))
            ):
                time_from = time
                time_to = time + pd.Timedelta(minutes=1)
                new_eco_df = dataframes[0].loc[
                    (pd.to_datetime(dataframes[0]['time']) >= time_from) & 
                    (pd.to_datetime(dataframes[0]['time']) < time_to) &
                    (dataframes[0]['camera_id'] == camera_id)
                ]
                new_car_df = dataframes[1].loc[
                    (pd.to_datetime(dataframes[1]['time']) >= time_from) & 
                    (pd.to_datetime(dataframes[1]['time']) < time_to) &
                    (dataframes[1]['camera_id'] == camera_id)
                ]
                
                return {time: [new_eco_df, new_car_df]}
        else:
            for time in sorted(
                set(pd.to_datetime(df['time']))
            ):
                time_to = pd.to_datetime(time_to)
                if time <= time_to:
                    new_eco_df = dataframes[0].loc[
                        (pd.to_datetime(dataframes[0]['time']) >= time_from) & 
                        (pd.to_datetime(dataframes[0]['time']) < time_to) &
                        (dataframes[0]['camera_id'] == camera_id)
                    ]
                    new_car_df = dataframes[1].loc[
                        (pd.to_datetime(dataframes[1]['time']) >= time_from) & 
                        (pd.to_datetime(dataframes[1]['time']) < time_to) &
                        (dataframes[1]['camera_id'] == camera_id)
                    ]
                    
                    return {time: [new_eco_df, new_car_df]}
                
timeframe = createTimeframe([eco_df, car_df])

In [10]:
for camera_id, by_camera in timeframe.items():
    for time, by_time in by_camera.items():
        print(time)

2022-12-10 17:41:00
2022-12-10 17:41:00
2022-12-10 17:41:00
2022-12-10 17:41:00
2022-12-10 17:41:00
2022-12-10 17:41:00
2022-12-10 17:41:00
2022-12-10 17:41:00
2022-12-10 17:41:00
2022-12-10 17:41:00

## 2. Начисление баллов

1. Сформировать хранилище для баллов
2. Подготовить функцию для начисления баллов
3. Прогнать входные данные через функцию начисления баллов по каждой локации фрейм за фреймом

In [11]:
score = {
    
}

In [12]:
pm_expect = {}

for camera in eco_df['camera_id'].unique():
    pm = eco_df[eco_df['camera_id']==camera]['pm25']
    pm_avg = sum(pm)/len(pm)
    pm_sq = math.sqrt(reduce(lambda a, b: a + (b - pm_avg)**2, pm, 0) / len(pm))
    pm_expect[camera] = pm_avg + pm_sq
    
cams = eco_df['camera_id'].unique()
    
def eco_scoring(timeframe_eco, timeframe_car, pm_expect):
    
    pm = timeframe_eco['pm25']
    cars = timeframe_car['id'].unique()
    
    for pm_item in pm:
        for cam_id in cams:
            for car_id in cars:
                if pm_item > pm_expect:
                    score[car_id]=+1
                elif pm_item < pm_expect:
                    score[car_id]=-1
                else:
                    score[car_id]=0

    return score

for camera_id, by_camera in timeframe.items():
    for time, by_time in by_camera.items():
        eco_scoring(by_time[0], by_time[1], pm_expect[camera_id])

counter = 0     
    
for car_id in set(car_df['id'].unique()):
    counter+=1

In [13]:
counter

5000

In [14]:
score

{'fb3b1895-8407-d870-546a-58b5018c213c': -1,
 '6f22fc34-f496-5023-a918-00ad122d734a': -1,
 '0f091d84-50aa-af97-499c-bd61f08e425a': -1,
 '5afd9c9a-4ad5-1eba-330c-c8e3879d08e2': -1,
 '4cfd08cb-696e-6c65-045c-a350a2e20907': -1,
 '5467e589-d807-8106-98d7-4ff81fd36ef7': -1,
 'a0d7c8b6-5dda-cfaf-b16d-a2234c6cf757': -1,
 '4c5c5571-a1a4-f277-4345-7dfca4b278ad': -1,
 '963cc37a-dca6-1520-b5a0-8a6af211257b': -1,
 'b8cf9a86-1427-ac96-0d17-db09f782cb87': -1,
 '91fbdf18-1aef-1c70-9c15-cc1b556d9e99': -1,
 '9adc444d-aa0c-0fef-adcf-0525eb25902a': -1,
 '5e2d5023-e80c-7a4a-9363-7d8c794686a3': -1,
 '19f0008a-7fc9-a663-505c-333a5caf8cee': -1,
 '0671dfb9-e614-7bde-d644-293c68ca54ca': -1,
 'ab61676a-907a-5ebc-0c08-bee2ac6a05a2': -1,
 'bb5f6afa-2f6a-36fe-aff9-35e2c813cc66': -1,
 'ffc7971e-1521-0fb8-a3f8-1dbe9226562d': -1,
 '5ef3d7b5-5c7d-cdd5-3226-eef11d9f54ff': -1,
 '5ea74bc3-82cb-1bb9-61c9-e1b5617e61da': -1,
 '45fae7b5-747b-6d82-a641-2221f8772313': -1,
 '03949b33-b9d1-ea45-c428-bc48f28512d6': -1,
 'a96d519a-83b5-87f1-1fed-5d49b4d290e7': -1,
 'ca2c39cc-d423-7936-0793-db3ab7f66356': -1,
 '322dfb1a-8dba-a42b-7369-2c78033ed5f0': -1,
 'e879641f-a80e-0634-e9cf-10441f2b0148': -1,
 '2bd1dacf-6529-cb04-0444-944323f56fdb': -1,
 '40c370d6-404f-e316-8bdc-685424165ec8': -1,
 '8d2411a5-5caf-beae-a1b5-ffad693c7dd5': -1,
 '0b914b64-07e9-cc56-c7b6-d9903e9182c2': -1,
 'f3ff796e-7102-f653-d348-f32da8b71f4c': -1,
 '1ca1b95d-e3f7-c8bf-51f5-45b75a2ddb6d': -1,
 '4f0da293-34ab-07c5-d233-091db0b354d5': -1,
 'bed3f853-778d-38cc-e2a9-fafba941e36f': -1,
 '0790f8dc-0de3-e2f0-b71d-3dd5fd230a5b': -1,
 'a0f0474d-12ff-0809-3cf0-890101f4a1b5': -1,
 'ffffb11c-aa8e-88cb-85d4-56360a67fd86': -1,
 '69025809-fcd1-8a22-760c-d64b145d39dd': -1,
 '516ac97b-8379-d6d7-cd89-b542ec267b12': -1,
 '76abc661-aea7-9c19-fa1f-758625c93f7f': -1,
 '0d494373-dfb4-b962-d1f0-c0b427bad3f7': -1,
 '06a82a9e-9c9c-6f85-120b-abd9d39cee46': -1,
 '97e0175a-26ff-4557-f632-81a5803cc817': -1,
 '4ed3036c-2877-a877-2140-371bee69f5c4': -1,
 '7e89f7e1-22fc-37e1-c5e7-5dbd94587ea8': -1,
 '06bae61f-2bf2-c123-f169-1d73e463c741': -1,
 'e26e944d-fe0b-d79b-7ac5-df86e58130cc': -1,
 '9d040d82-6ebd-c6df-5175-7b55dec3e1bb': -1,
 '8f3d0b16-87a2-bec2-566f-bd1199f81d2e': -1,
 '1162cbfa-b8a3-c2e9-de60-94f9168192dc': -1,
 '1ecfb7c6-c5a9-f439-f506-36dfdf97f3c1': -1,
 '3901d7e0-576b-a587-8815-693deb731b32': -1,
 'f1652ccf-e045-bdbc-b7be-b20325afa6d2': -1,
 '7336fbd7-6f12-237f-660a-5de61420999e': -1,
 'e0962049-202b-c4ef-07b9-3ecfdb0ea21e': -1,
 'fb487b7b-1086-7dc4-92bd-765906cc150b': -1,
 '193fd082-5ef6-b5a6-3dd4-ba2a4bb58c47': -1,
 'f868bb55-a04e-d680-64da-8da2f494c851': -1,
 '0bd424bb-66b0-0e80-ab3d-a4f4ebaa54dd': -1,
 '42e2748a-2f14-0c11-b106-1ccd476845da': -1,
 'fe0a893a-fe26-e5c3-56b8-0a02bd036b1a': -1,
 'db7533cb-e39d-b1cd-8a4f-4715ac9b14b1': -1,
 'ec9c7a55-08d0-439f-cc97-d6e0bee9f277': -1,
 'fddcb4ec-c997-1e9a-5a51-0a7870af9fcd': -1,
 'f9e52a01-5914-e83c-3160-41d4135dcc9b': -1,
 'd3f8881f-7825-508d-4c7a-4342760acb71': -1,
 'fa1ed421-234f-0240-a8a1-b4835542fa74': -1,
 'b457bb61-baca-0672-a918-8ac203a562c4': -1,
 'b9919f31-3d30-bb32-6cb9-c5bbb467dc0e': -1,
 '6768c656-e293-9315-9b33-38e49041d0a5': -1,
 '60efd27f-adb4-f58f-86c5-119e15cfef7f': -1,
 '76f2cbfb-18f3-14f2-86c1-7bee2b5fb6df': -1,
 'a2651acf-1335-e29c-e788-693e6f1c375b': -1,
 '42e4837a-3202-030a-a7e4-11a7d4b8f6d2': -1,
 '78428b6c-0018-bcdf-f867-646d26c51a1b': -1,
 '1cb5043b-7a20-022c-389c-b8fad58534f1': -1,
 '49077b6f-908d-cf2f-20da-56d0ef85d956': -1,
 '8fce805d-09e9-6298-2ac1-68272da36dde': -1,
 '41c49918-db17-d87a-f674-7250bcecc0d3': -1,
 '042026d9-a968-1f0c-d48e-dace010c5f7e': -1,
 '7d68ac35-5ade-9eb2-fb03-f7b9fff0d794': -1,
 '679c114a-64a8-f589-adf2-0e5cf59e48e6': -1,
 '456e080d-c041-85b1-fe34-c73cc913c2ac': -1,
 'afb519f0-11ed-ec06-e618-ade776d0eff0': -1,
 '9cb6ec4d-7373-e207-2b3b-7cd97fc7675c': -1,
 '06cd58fa-28e3-685a-1f4f-8d1081346567': -1,
 '51775ea7-5929-07ec-e956-9c3618aad23e': -1,
 'dfa1cd9b-b299-5b25-5732-9aaa069336eb': -1,
 '5e200595-bb80-66f7-9d71-a2cc0b5d8b6f': -1,
 'bfd20b04-80e3-ffc5-6ac1-acdea190ff9e': -1,
 'a53f87a1-a1ab-d109-07c4-55ac9bd111bd': -1,
 'dabbf507-4b91-3f41-945d-d23ca981aa82': -1,
 'e56b5ebe-389f-475b-1bbb-9a9b512eed1d': -1,
 'ec310efb-260e-bdd8-32a7-40b4798c9a35': -1,
 'b38d8b1d-720b-303b-93d8-7fc88248208b': -1,
 'f6215c86-53ef-b91e-9c90-d49bebeb9587': -1,
 'ed3261c9-4d71-64e6-46ea-6487f595855c': -1,
 'c958c449-f96c-fb49-a804-f8d48fdb257f': -1,
 '03ec1018-f605-2b44-480a-a63f4a15287a': -1,
 'db282947-eb43-d01c-f709-74557f69bfef': -1,
 'db16d44f-8853-127c-07a4-b905f322c126': -1,
 '08270070-373f-5654-8e13-d91cfe5ea846': -1,
 '7e12377e-597d-2c16-f486-405ae1e59ee1': -1,
 '5db4b5a7-ae2f-f2b2-9493-8efc94d3cc80': -1,
 '509632f4-7b7f-d962-d396-759ba71ec077': -1,
 '832deb78-d43f-a0b4-2027-bc8641384b76': -1,
 'd02a9748-fce2-8df5-d8de-155cdbb3b251': -1,
 '8408138d-2e9a-e883-d83a-545077cc00ce': -1,
 'f3d4ad4a-a16a-44a7-0646-1e36add12db1': -1,
 '5ae09492-aa77-fa87-70f7-2a9be6d08971': -1,
 '33d7a82e-141f-0e2d-2549-49435551d0ec': -1,
 '90d47aef-61aa-da89-cd7b-9a8f0f038d37': -1,
 '2d8d2f44-4974-cd6e-e9e1-f3b9cad4d662': -1,
 'dd618bb9-fd88-bdf6-d1eb-054c73ae2eb7': -1,
 '612d66d3-d964-7935-cc2e-f39c64af570a': -1,
 '22ef6b5d-9a6c-6070-893c-01acb6dbf203': -1,
 'f89b1bf4-7ad1-e1ef-1626-9cd4f08f4d84': -1,
 '97807a14-73c6-2a5d-2e16-821aa6d44da9': -1,
 '686553c5-1c0d-9ce4-5867-6d8fa47e4317': -1,
 '35cbe857-811f-ee8b-7f9c-d628664f590d': -1,
 'eb99fd95-8721-262e-769e-35ce39531c2b': -1,
 'ba4e1645-0091-f90e-61f6-431884ecbfdb': -1,
 '3c584eaf-ca76-c633-c988-dea1ebc9613c': -1,
 '5fdb60c7-7989-c57a-9381-d3a050b8e59c': 1,
 'dab3d829-b090-e25d-9737-166d86d24003': 1,
 '4fabfbb2-f2c2-dea6-51e6-d2f3ad09806c': 1,
 '080869ee-9b18-ccaa-e2bc-e6b9caac92fa': 1,
 '3dda0984-481c-88c0-c8ff-71aef32e259e': 1,
 'e8aa0903-0960-14a0-672b-c0bbca027906': 1,
 'd47809f6-3ac1-ce24-7f65-ceb32926de54': 1,
 '85006b80-33b8-d86f-688a-4bd840e661d3': 1,
 'd9f78f2e-6790-2112-da97-8fedebd57b3e': 1,
 'c5c595f4-5291-08ae-430e-e48b107982a9': 1,
 '63dfabeb-e9be-f3e3-28ec-7be814488e45': 1,
 '256d1fa0-8bfa-9dc1-8445-74b0753b902f': 1,
 'f38d6b96-e25b-6563-3548-e94ccda12ea5': 1,
 '9992dd16-58cb-b55b-43b7-6f92c223f843': 1,
 '9bdb008c-f1eb-8b80-a9a5-c266b801b2d3': 1,
 'f9869e9f-daaf-2587-a323-2eb4eced3d49': 1,
 'd0dd566e-2a71-118d-58e1-a6fa2eaea8a8': 1,
 '95fc9d93-5f39-1179-456b-3a5d4536394f': 1,
 'e0389b2a-6669-3c02-725f-e45f9bc39626': 1,
 '5b68e567-15bb-b7e1-0ea3-586a87b1f801': 1,
 'c6a6c907-bfaa-0906-1c6a-5546b57ec348': 1,
 'b6548294-0d89-e5e8-45fa-02d160b5e414': 1,
 'f649920f-dea2-094e-46a0-59dd834e91e0': 1,
 'de45cff4-656d-bf95-7fbe-481ee9d2fe87': 1,
 'd7388168-2b48-0d5b-bec0-7d9401bc9623': -1,
 'e77c3f0d-8b5d-13fd-3500-fb61cad0de56': -1,
 '206867b9-9ce3-9d7f-e73b-7b3daeb675c6': -1,
 '9b03f4ef-e8ab-dadc-b9a0-203dae1b7b02': -1,
 '3a874ada-19d8-ab3d-3190-f32b90b63c62': -1,
 '31eaad82-85ee-a060-8add-b478e4a0aac1': -1,
 '09b686c7-68e0-3edd-ca11-a66bcec352ce': -1,
 '48658617-ef17-7c63-d850-692c8ff3dcd3': -1,
 'b8cf1666-bfbe-9ac6-4f8b-5afa40e9d976': -1,
 '424c945b-8082-3ee0-50c3-8993b3946798': -1,
 '88396bd6-09a5-6a53-dd94-ffcf4ce2c60b': -1,
 '62360a5e-d475-95d3-95be-baee719c50b2': -1,
 'c455a0ba-1a58-1583-1dc8-90fbefbe511d': -1,
 '04ded42e-8699-1fbc-ed39-2d0a25228086': -1,
 'd58745ab-12f4-919d-37de-8f6e40c90524': -1,
 'dde55e88-b506-460a-3304-622eb7379806': -1,
 '15c1dc2f-c1f5-b1e8-8ed7-e7b257368ef6': -1,
 '89282a00-2c6d-a5cd-1a54-658502cec63d': -1,
 '45e1813d-e160-c5e9-b9bd-62e7155ef0d1': -1,
 'e4506383-5cd0-c632-df7f-98514599c7ce': -1,
 'f97b4bb6-b15e-2f27-0dfc-ef5839ee178b': -1,
 'cbfc6e9f-79a0-5011-9626-0a7935190d60': -1,
 '8beae3c7-1e1b-25d6-4f7d-6389eb7d7726': -1,
 '253cf6a4-00c2-b26d-88e1-0f63d59727e1': -1,
 '4454fa50-9b0e-4346-f470-a75237fa7958': -1,
 '1e98de65-dd31-7aff-3e4b-4a55949e135d': -1,
 '45c4b5f7-ec11-8a4a-85ea-a34a125eabd2': -1,
 '992c8dbe-6e03-4542-7370-07b69dcf0331': -1,
 'd3bea435-ca05-70f2-d2ce-5f15ba84e5c8': -1,
 'b6ba8f95-fdc2-c182-b245-9b004d9e0beb': -1,
 '92dd5977-d84a-ff72-501f-c3d9f5d340bf': -1,
 '7e1f8a6d-cd61-cbe7-2520-931976870493': -1,
 '39a6d3e0-c0df-4774-297b-048894d9faff': -1,
 'beb56a8d-b153-b932-bd81-7acfede48835': -1,
 'f0621126-2104-c08a-f51b-4e287960a7a5': -1,
 '0e5aa014-5df8-baac-fbff-1bd59c3c9f55': -1,
 'fc85096f-3afc-84d0-bcca-4ef119ae2160': -1,
 '3bf80a91-7d97-68d6-ac23-1c52068b4c1e': -1,
 '2144336c-71bb-ab5c-1da0-db586cf92160': -1,
 '8d707523-e797-9f4e-ca23-ee21e78811ef': -1,
 '95f77e66-ceae-c6dd-606f-3f47296b6054': -1,
 '75b7ae24-e503-5bc3-6902-57566a6dedb5': -1,
 '254b63cd-1157-f94b-3b45-5bc549afc894': -1,
 '024b9d4b-fb4c-9c07-2a0b-c0820ef608b9': -1,
 'ec0cc821-4d01-dc98-5699-4659a471db33': -1,
 '81b44278-b915-a574-4aa6-235685c45904': -1,
 'b2771942-e9ff-e479-98fc-2582055cfaf4': -1,
 'b76a7423-4721-c497-9d41-623d4027bb73': -1,
 'adf78534-c65a-98cc-be48-4282acfb2674': 1,
 '6bfb27e9-5362-5964-3f2b-4bd31c75cafc': 1,
 '08653511-7eb1-87f4-c418-8404b82f25cb': 1,
 '538e138d-7710-3c92-1fa1-ee56548e1c13': 1,
 '55df531e-7224-c605-a96c-a1754c02219c': 1,
 '43fa224f-46e0-cbdb-c194-3c0e83291a8d': 1,
 'cc210047-0908-eca8-c810-57eb290712ad': 1,
 '0c090ea7-d0b9-1b39-9062-483ba54b17d2': 1,
 '1804dd31-2e89-dfcd-8c15-207369780d67': 1,
 'b00b4f69-1b48-53aa-c8bb-b62149f228dc': 1,
 'd531cffe-194d-52c7-f19e-f3450b2bc7bc': 1,
 'f043a9ef-3e1a-7105-1dc5-7e363e891f83': 1,
 'd5f5a083-171a-0b51-ecd9-6732cd743df6': 1,
 '82ac58c3-08ce-4778-5b99-4e27e6fb41e6': 1,
 '20e25241-8631-3d1e-1c2b-673210a7985e': 1,
 '8e32b24e-834e-d74a-963a-aaca291f9f17': 1,
 'ca57d2eb-36eb-d9e0-ab4c-39da2ec282a5': 1,
 '0b4eea08-d1d1-5cd2-a424-67dbe5455f7a': 1,
 'dc9fd277-1015-0a75-92f0-c25e65e99d52': 1,
 'e5fe179c-44c9-c188-4926-e7ba3344418a': 1,
 '11770807-e088-3da0-df41-36529e92289c': 1,
 'c6e21213-3e2c-f24e-9b57-79ae5065d1da': 1,
 'e462d206-3417-9e5b-2b8e-296b590f904f': 1,
 '417526c2-dab4-42b2-d9ae-5c25c6c946a0': 1}

## 3. Сохранение результата

Сохранить итоговое значение score в файл формата .csv

In [15]:
score_df = pd.DataFrame.from_dict(score, orient='index')

score_df.to_csv("score_data.csv")

In [16]:
score_df = pd.read_csv("score_data.csv", index_col=0)

In [17]:
score_df.head()

                                      0
fb3b1895-8407-d870-546a-58b5018c213c -1
6f22fc34-f496-5023-a918-00ad122d734a -1
0f091d84-50aa-af97-499c-bd61f08e425a -1
5afd9c9a-4ad5-1eba-330c-c8e3879d08e2 -1
4cfd08cb-696e-6c65-045c-a350a2e20907 -1